<div class="container-fluid">
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <h5 class="card-header">Product Details </h5>
        {{#each product}}
        <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="../uploads/{{this.image}}" alt="product-image" class="d-block rounded" height="100" width="100" />
            <div class="button-wrapper">
              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class=""> Name : {{this.productname}}</span>
              </label>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Price :</label>
              <input class="form-control" name="prize" placeholder="Rs :{{this.price}}" id="price" readonly />
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Category:</label>
              <input class="form-control" type="text" name="category" placeholder="Category" value="{{this.category}}" readonly />
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <a href="/admin/allorders" class="btn btn-primary mt-3 mb-4 text-white float-end">Back</a>
    </div>
  </div>
</div>
</div>
